#wrapper {
  max-width: 450px;
}

.header {
  margin-top: 20px;
  margin-left: 10px;
}

.action {
  float: right;
}

.light {
  border-radius: 50px;
  border: 2px solid black;
  margin: 5px;
  width: 100px;
  height: 100px;
}
